<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>Панель управления Классами</title>
</head>
<body>
<div class="container-md">
    <h3 class="text-center">Панель управления Классами</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Класс</th>
                <th scope="col">Классный руководитель</th>
                <th scope="col">Количество болеющих</th>
                <th scope="col">Количество в классе</th>
                <th scope="col">Управление</th>
            </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
            {% for j_key, j_value in json_data.items() %}
            <tr>
                {% for item in j_value %}
                <th id="id_class" class="text-center" scope="row">{{ item.id }}</th>
                <td class="text-center">{{ j_key }}</td>
                <td>{{ item.man_class }}</td>
                <td class="text-center">{{ item.count_ill }}</td>
                <td class="text-center">{{ item.count_class }}</td>
                <td class="text-center">
                    <form method="get">
                        <input type="text" class="d-none" name="name_class" value="{{ j_key }}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="container text-center">
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="alert {{ cat }}" role="alert">
                {{ msg }}
            </div>
            {% endfor %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClassModal">
                Добавить\редактировать класс
            </button>
        </div>
    </div>
</div>

<!-- Modal addClass-->
<div class="modal fade" id="addClassModal" tabindex="-1" aria-labelledby="addClassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addClassModalLabel">Добавить \ редактировать класс</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="post">
                    <div class="row g-2">
                        <div class="col">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text">Добавить \ редактировать</span>
                                <input required type="text" class="form-control" id="floatingNameClass"
                                       placeholder="Класс:"
                                       name="name_class">
                                <input required type="text" class="form-control" id="floatingManClass"
                                       placeholder="Классный руководитель:" name="man_class">
                                <input required type="number" class="form-control" id="floatingCountClass"
                                       placeholder="Учеников в классе: " name="count_class">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="../monitoring" class="nav-link px-2 text-body-secondary">Мониторинг</a></li>
            <li class="nav-item"><a href="../admin" class="nav-link px-2 text-body-secondary">Панель управления</a></li>
            <li class="nav-item"><a href="../logout" class="nav-link px-2 text-body-secondary">Выход</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 МБОУ "Средняя общеобразовательная школа №1" г.Емвы</p>
    </footer>
</div>
</body>
</html>