<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
<div class="container-md">
    <ul class="nav justify-content-end">
        <li class="nav-item"><a href="../" class="nav-link px-2 text-body-secondary">Главная</a></li>
        <li class="nav-item"><a href="../nutrition" class="nav-link px-2 text-body-secondary">Список меню</a></li>
    </ul>
    <h3 class="text-center">{{ title }}</h3>
    <div class="text-success">
        <hr>
    </div>
    <div class="row">
        {% for c_key, c_value in menu.items() %}
        <h4 class="text-center">{{ c_key }}</h4>
        {% for t_key, t_value in c_value.items() %}
        <div class="col-6">
            <table class="table table-responsive table-bordered border-dark table-sm caption-top">
                <caption><strong>{{ t_key }}:</strong></caption>
                <thead>
                <tr class="table-primary">
                    <td>Наименование блюда</td>
                    <td>Выход, г</td>
                    <td>Калорийность, ккал</td>
                    <td>Стоимость, руб</td>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for item in t_value %}
                <tr>
                    <td>{{ item.dish_name }}</td>
                    <td>{{ item.out_gramm }}</td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

</div>
</body>
</html>