<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спасибо!</title>
</head>
<body>
    <h2 style="text-align: center">Данные обновлены.</h2>
        <p style="text-align: center">Класс: {{ name_class }}</p>
        <p style="text-align: center">Количество болеющих: {{ count_ill }}</p>
        <p style="text-align: center">На дату: {{ date_current }}</p>
    <p style="text-align: center;"><a title="back" href="../monitoring">
        <button class="" type="button">Вернуться</button>
    </a></p>
</body>
</html>